# chapter5

In [11]:
# MovieLensのデータセットをdataディレクトリにダウンロードして展開
!wget -nc --no-check-certificate https://files.grouplens.org/datasets/movielens/ml-10m.zip -P ../data
!unzip -n ../data/ml-10m.zip -d ../data/

File ‘../data/ml-10m.zip’ already there; not retrieving.

Archive:  ../data/ml-10m.zip

In [12]:
import pandas as pd
pd.set_option('display.max_columns', None)
m_cols = ['movie_id', 'title', 'genre']
!pwd
display(pd.read_csv('../data/ml-10M100K/movies.dat', sep='::', encoding='latin-1', engine='python'))
movies = pd.read_csv('../data/ml-10M100K/movies.dat', names=m_cols, sep='::', encoding='latin-1', engine='python')
movies

/app/chapter5/notebook

,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
0,2,Jumanji (1995),Adventure|Children|Fantasy
1,3,Grumpier Old Men (1995),Comedy|Romance
2,4,Waiting to Exhale (1995),Comedy|Drama|Romance
3,5,Father of the Bride Part II (1995),Comedy
4,6,Heat (1995),Action|Crime|Thriller
...,...,...,...
10675,65088,Bedtime Stories (2008),Adventure|Children|Comedy
10676,65091,Manhattan Melodrama (1934),Crime|Drama|Romance
10677,65126,Choke (2008),Comedy|Drama
10678,65130,Revolutionary Road (2008),Drama|Romance
10679,65133,Blackadder Back & Forth (1999),Comedy

,movie_id,title,genre
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
10676,65088,Bedtime Stories (2008),Adventure|Children|Comedy
10677,65091,Manhattan Melodrama (1934),Crime|Drama|Romance
10678,65126,Choke (2008),Comedy|Drama
10679,65130,Revolutionary Road (2008),Drama|Romance
10680,65133,Blackadder Back & Forth (1999),Comedy

In [13]:
movies.genre.apply(lambda x:x.split('|'))

0        [Adventure, Animation, Children, Comedy, Fantasy]
1                           [Adventure, Children, Fantasy]
2                                        [Comedy, Romance]
3                                 [Comedy, Drama, Romance]
4                                                 [Comedy]
                               ...
10676                        [Adventure, Children, Comedy]
10677                              [Crime, Drama, Romance]
10678                                      [Comedy, Drama]
10679                                     [Drama, Romance]
10680                                             [Comedy]
Name: genre, Length: 10681, dtype: object

In [14]:
movies['genre'] = movies.genre.apply(lambda x:x.split('|'))
movies.head()

,movie_id,title,genre
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men (1995),"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II (1995),[Comedy]

In [15]:
t_cols = ['user_id', 'movie_id', 'tag', 'timestamp']
user_tagged_movies = pd.read_csv('/app/chapter5/data/ml-10M100K/tags.dat', names=t_cols, sep='::', engine='python')
user_tagged_movies

       user_id  movie_id              tag   timestamp
0           15      4973       excellent!  1215184630
1           20      1747         politics  1188263867
2           20      1747           satire  1188263867
3           20      2424  chick flick 212  1188263835
4           20      2424            hanks  1188263835
...        ...       ...              ...         ...
95575    71556      1377           Gothic  1188263571
95576    71556      2424      chick flick  1188263606
95577    71556      3033           comedy  1188263626
95578    71556      3081           Gothic  1188263565
95579    71556      7438          Western  1188263589

[95580 rows x 4 columns]

In [16]:
user_tagged_movies['tag'] = user_tagged_movies['tag'].str.lower()
user_tagged_movies

       user_id  movie_id              tag   timestamp
0           15      4973       excellent!  1215184630
1           20      1747         politics  1188263867
2           20      1747           satire  1188263867
3           20      2424  chick flick 212  1188263835
4           20      2424            hanks  1188263835
...        ...       ...              ...         ...
95575    71556      1377           gothic  1188263571
95576    71556      2424      chick flick  1188263606
95577    71556      3033           comedy  1188263626
95578    71556      3081           gothic  1188263565
95579    71556      7438          western  1188263589

[95580 rows x 4 columns]

In [17]:
print(f'タグ種類={len(user_tagged_movies.tag.unique())}')
print(f'タグレコード数={len(user_tagged_movies)}')
print(f'タグがついている映画数={len(user_tagged_movies.movie_id.unique())}')

タグ種類=15241
タグレコード数=95580
タグがついている映画数=7601

In [18]:
movie_tags = user_tagged_movies.groupby('movie_id').agg({'tag':list})
movie_tags

                                                        tag
movie_id
1         [pixar, pixar, pixar, animation, pixar, animat...
2         [for children, game, animals, joe johnston, ro...
3         [funniest movies, comedinha de velhinhos engra...
4                                              [girl movie]
5         [steve martin, pregnancy, remake, steve martin...
...                                                     ...
64993                    [anime, anime, drama, japan, love]
65006     [doppleganger, nudity (rear), nudity (topless ...
65037     [asperger's syndrome, autism, based on novel, ...
65126                      [chuck palahniuk, based on book]
65130                                           [toplist08]

[7601 rows x 1 columns]

In [19]:
movies = movies.merge(movie_tags, on='movie_id', how='left')
movies

,movie_id,title,genre,tag
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]","[pixar, pixar, pixar, animation, pixar, animat..."
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]","[for children, game, animals, joe johnston, ro..."
2,3,Grumpier Old Men (1995),"[Comedy, Romance]","[funniest movies, comedinha de velhinhos engra..."
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",[girl movie]
4,5,Father of the Bride Part II (1995),[Comedy],"[steve martin, pregnancy, remake, steve martin..."
...,...,...,...,...
10676,65088,Bedtime Stories (2008),"[Adventure, Children, Comedy]",NaN
10677,65091,Manhattan Melodrama (1934),"[Crime, Drama, Romance]",NaN
10678,65126,Choke (2008),"[Comedy, Drama]","[chuck palahniuk, based on book]"
10679,65130,Revolutionary Road (2008),"[Drama, Romance]",[toplist08]
10680,65133,Blackadder Back & Forth (1999),[Comedy],NaN

In [20]:
r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('../data/ml-10M100K/ratings.dat', names=r_cols, sep='::', engine='python')
ratings.head()

   user_id  movie_id  rating  timestamp
0        1       122     5.0  838985046
1        1       185     5.0  838983525
2        1       231     5.0  838983392
3        1       292     5.0  838983421
4        1       316     5.0  838983392

In [21]:
len(ratings)

10000054

In [22]:
valid_user_ids = sorted(ratings.user_id.unique())[:1000]
ratings = ratings[ratings['user_id'].isin(valid_user_ids)]
ratings

        user_id  movie_id  rating   timestamp
0             1       122     5.0   838985046
1             1       185     5.0   838983525
2             1       231     5.0   838983392
3             1       292     5.0   838983421
4             1       316     5.0   838983392
...         ...       ...     ...         ...
132825     1053     33794     5.0  1134008301
132826     1053     34162     5.0  1134007983
132827     1053     34319     3.5  1134007773
132828     1053     35836     5.0  1134008021
132829     1053     38038     4.0  1134008024

[132830 rows x 4 columns]

In [23]:
movielens = ratings.merge(movies, on='movie_id')
movielens.head()

,user_id,movie_id,rating,timestamp,title,genre,tag
0,1,122,5.0,838985046,Boomerang (1992),"[Comedy, Romance]","[dating, nudity (topless - brief), can't remem..."
1,139,122,3.0,974302621,Boomerang (1992),"[Comedy, Romance]","[dating, nudity (topless - brief), can't remem..."
2,149,122,2.5,1112342322,Boomerang (1992),"[Comedy, Romance]","[dating, nudity (topless - brief), can't remem..."
3,182,122,3.0,943458784,Boomerang (1992),"[Comedy, Romance]","[dating, nudity (topless - brief), can't remem..."
4,215,122,4.5,1102493547,Boomerang (1992),"[Comedy, Romance]","[dating, nudity (topless - brief), can't remem..."

In [24]:
import numpy as np
movielens.groupby('user_id').agg({'movie_id':len}).agg({'movie_id':[min, max, np.mean, len]})

      movie_id
min      20.00
max    1668.00
mean    132.83
len    1000.00

In [25]:
print(f'評価値数={len(movielens)}')

評価値数=132830

In [26]:
movielens.groupby('rating').agg({'movie_id':len})

        movie_id
rating
0.5          851
1.0         4847
1.5         1247
2.0        10292
2.5         3729
3.0        31706
3.5         9661
4.0        39917
4.5         6949
5.0        23631

In [27]:
movielens.groupby('user_id')['timestamp'].rank(ascending=False, method='first')

0            1.0
1          408.0
2           84.0
3         1104.0
4          320.0
           ...
132825      76.0
132826     128.0
132827     102.0
132828     120.0
132829      47.0
Name: timestamp, Length: 132830, dtype: float64

In [28]:
movielens['timestamp_rank'] = movielens.groupby('user_id')['timestamp'].rank(ascending=False, method='first')
movielens

,user_id,movie_id,rating,timestamp,title,genre,tag,timestamp_rank
0,1,122,5.0,838985046,Boomerang (1992),"[Comedy, Romance]","[dating, nudity (topless - brief), can't remem...",1.0
1,139,122,3.0,974302621,Boomerang (1992),"[Comedy, Romance]","[dating, nudity (topless - brief), can't remem...",408.0
2,149,122,2.5,1112342322,Boomerang (1992),"[Comedy, Romance]","[dating, nudity (topless - brief), can't remem...",84.0
3,182,122,3.0,943458784,Boomerang (1992),"[Comedy, Romance]","[dating, nudity (topless - brief), can't remem...",1104.0
4,215,122,4.5,1102493547,Boomerang (1992),"[Comedy, Romance]","[dating, nudity (topless - brief), can't remem...",320.0
...,...,...,...,...,...,...,...,...
132825,1045,57949,0.5,1215617256,"Welcome Home, Roscoe Jenkins (2008)",[Comedy],NaN,76.0
132826,1045,58291,0.5,1215616991,College Road Trip (2008),[Comedy],"[road trip, movie to see]",128.0
132827,1045,59306,3.0,1215617137,Prom Night (2008),"[Horror, Mystery, Thriller]",[remake],102.0
132828,1045,60286,3.0,1215617037,Finding Amanda (2008),"[Comedy, Drama]",NaN,120.0
132829,1047,52952,4.0,1203399887,This Is England (2006),[Drama],"[to see, netwatch, less than 300 ratings, less...",47.0

In [29]:
# みてみる。
movielens.sort_values(['user_id'])

,user_id,movie_id,rating,timestamp,title,genre,tag,timestamp_rank
0,1,122,5.0,838985046,Boomerang (1992),"[Comedy, Romance]","[dating, nudity (topless - brief), can't remem...",1.0
3817,1,588,5.0,838983339,Aladdin (1992),"[Adventure, Animation, Children, Comedy, Musical]","[disney, disney, dvd collection, want to own, ...",22.0
3579,1,586,5.0,838984068,Home Alone (1990),"[Children, Comedy]","[family, christmas, to see, comedy, crime, lat...",10.0
3321,1,539,5.0,838984068,Sleepless in Seattle (1993),"[Comedy, Drama, Romance]","[girlie movie, meg ryan, tom hanks, empire sta...",9.0
3218,1,520,5.0,838984679,Robin Hood: Men in Tights (1993),[Comedy],"[parody, can't remember, very funny!, mel broo...",5.0
...,...,...,...,...,...,...,...,...
53658,1053,2194,4.0,1134007197,"Untouchables, The (1987)","[Action, Crime, Drama]","[gfei own it, gangster, seen more than once, c...",142.0
100451,1053,1257,4.5,1134008016,Better Off Dead... (1985),"[Comedy, Romance]","[directorial debut, nostalgic, skiing, teen, o...",58.0
63714,1053,4571,4.0,1134007848,Bill & Ted's Excellent Adventure (1989),"[Adventure, Comedy, Sci-Fi]","[time travel, dumb but funny, time travel, tee...",77.0
54620,1053,2355,4.0,1134008105,"Bug's Life, A (1998)","[Adventure, Animation, Children, Comedy]","[talking animals, kid flick, pixar, pixar, pix...",39.0
101019,1053,3219,4.0,1134007516,Pacific Heights (1990),[Thriller],"[nudity (topless), suspense]",115.0

In [30]:
movielens_train = movielens[movielens['timestamp_rank'] > 5]
movielens_test = movielens[movielens['timestamp_rank'] <= 5]

In [38]:
movielens_test[movielens_test.rating >= 4].groupby('user_id').agg({'movie_id': list})['movie_id'].to_dict()

{1: [122, 362, 466, 520, 616],
 3: [3408, 5527],
 4: [266, 317],
 5: [926, 969, 1172, 1300],
 6: [1396, 1527, 1580, 2628],
 7: [5505, 1748, 2791, 6273],
 8: [3264],
 9: [50, 4226, 3429, 7361, 44761],
 10: [2194, 2917],
 11: [858, 2011, 2407, 2091],
 12: [3175],
 13: [1089, 2959, 1374],
 14: [2125],
 16: [1206],
 17: [2762, 3147, 1249],
 18: [6323, 924, 5785, 6707],
 19: [329],
 22: [539, 482],
 23: [367, 306, 223, 261, 319],
 24: [1393, 1047, 64],
 26: [733, 780, 587],
 27: [836],
 28: [1220, 2000, 2371, 2375],
 29: [3885],
 30: [1064, 1302, 1380],
 35: [1921, 2594, 3160, 3556],
 37: [541, 778, 1080],
 38: [48394, 54286],
 40: [457, 36, 3173, 1147],
 41: [1772, 2657],
 42: [1035, 1079, 1125, 1022],
 43: [1409, 1704, 1721, 1680],
 44: [1235, 1285, 3039, 1394, 3072],
 45: [1610, 866, 695],
 46: [1073, 1196, 7361],
 47: [1080, 1682, 2012, 2174, 2710],
 48: [4369, 55282, 59103],
 50: [151, 509],
 51: [2202, 4546, 6993],
 52: [2433],
 53: [3176, 2987, 3114, 3798],
 54: [277],
 55: [2140, 613, 1884, 6242],
 56: [1391, 920, 1079],
 57: [1102, 1525, 1578],
 58: [410, 2725, 2690, 2721],
 59: [161, 10],
 60: [1198, 1086, 1321, 1012],
 61: [1358, 1393, 3147, 105, 1250],
 62: [185, 110, 457],
 63: [2396, 2702, 2677],
 64: [25],
 66: [50, 4226, 2329, 5782],
 67: [249, 515, 353, 610],
 68: [440, 457, 1213, 154],
 69: [1277, 1411, 2357],
 71: [480, 110, 288],
 72: [377, 586, 648, 367, 597],
 73: [1517, 678, 319],
 74: [1597, 277, 647],
 75: [2571, 2959],
 76: [293, 442],
 77: [110, 150, 500, 265],
 78: [6993, 4119, 8400, 50872],
 79: [260, 1089],
 80: [144],
 81: [2232, 2020],
 82: [7153, 531, 46976, 6350],
 83: [1262],
 84: [1366],
 85: [232],
 86: [349, 2115, 1372],
 87: [3176, 2672, 2987, 3114, 3793],
 88: [1027, 1974, 3254, 2605],
 89: [356, 308, 144, 177],
 90: [799, 837],
 91: [151, 593, 1225, 908, 1150],
 93: [3479, 42728, 46335, 47382, 51834],
 94: [354],
 95: [364, 47, 457],
 96: [292, 1805, 1003, 2182],
 97: [5010, 4816, 5400, 5418],
 98: [1357, 866, 1053],
 99: [1258, 4973, 1147],
 100: [2871],
 101: [442, 555],
 102: [377, 500, 50],
 103: [1228],
 104: [1270, 1200, 1291, 750, 1301],
 105: [480, 1247, 3512],
 106: [934, 2694, 5060],
 107: [1276, 1136],
 108: [7371, 1354, 7044],
 110: [34, 2028],
 111: [50],
 112: [1639],
 113: [2763, 86],
 114: [1073, 2657],
 115: [778, 1704, 1961],
 116: [802, 765, 140, 830],
 117: [1220, 3526, 2580],
 118: [780, 272],
 119: [1120],
 120: [88, 333],
 121: [926, 2028, 1212, 1272],
 122: [2329, 69, 4007],
 123: [356, 539, 110, 1183, 4014],
 124: [45720],
 125: [8361, 4263, 346],
 126: [41571],
 127: [6958, 45726],
 128: [232, 508, 207, 314, 273],
 129: [1288],
 130: [1304, 1175, 1299, 6385],
 131: [509, 104, 247],
 134: [74, 628, 1084],
 135: [362, 969, 1247, 596],
 136: [2120],
 137: [2987],
 138: [3996, 741, 3052, 3000],
 139: [3638, 2034],
 140: [356, 4995, 1955, 33166],
 141: [539, 587, 515],
 142: [50, 296],
 143: [1207],
 145: [515],
 148: [303, 368, 2401],
 149: [8493],
 150: [508, 357],
 151: [588, 595, 1947, 2087, 1022],
 152: [377, 1422, 40629],
 153: [2815],
 154: [3578, 2683, 337],
 155: [1387, 2987, 3114, 1784, 2706],
 156: [800],
 157: [886, 1407, 742, 1399],
 158: [198, 350, 444],
 161: [5630],
 162: [3623, 7143, 59784, 60069],
 163: [16, 353],
 164: [733, 6],
 165: [1276, 1959, 2763],
 166: [377, 1127],
 167: [1073, 637, 784, 65],
 168: [1441, 441],
 169: [3863, 2959, 2712],
 170: [180, 4251, 6807, 8622],
 171: [4306, 454, 2054, 8622],
 172: [377, 500, 587],
 173: [70, 1373, 423],
 174: [293, 2541],
 175: [5300, 7700, 50068, 1757, 51540],
 176: [356, 480, 110],
 177: [1356, 673, 663],
 178: [1, 1810],
 179: [235, 2696, 1927, 1465, 4809],
 180: [527, 593, 2571, 50, 2324],
 182: [8949, 8645, 8943],
 183: [903, 1207, 908, 2621],
 184: [47, 1396, 1466, 2542],
 185: [2571, 357, 3004, 1593, 3097],
 186: [1129, 4006],
 187: [3408, 4061],
 188: [780],
 189: [1219, 1333, 22],
 190: [27611],
 191: [858, 1148, 318, 745],
 192: [942, 6380, 7564, 33564],
 194: [85, 842, 613, 1105],
 195: [1210, 5388, 5377],
 197: [1260, 1799, 6852],
 198: [471, 5772],
 199: [364, 500, 2],
 200: [1359],
 201: [1678],
 202: [539, 1961, 2997, 17],
 203: [597, 1639, 1641],
 204: [85, 613],
 205: [2395, 2987, 2070],
 206: [356, 969, 3448, 2067, 2941],
 207: [475, 314, 144],
 208: [164, 662, 68],
 209: [357, 1569, 1471],
 210: [6377, 49272, 48516, 7149],
 211: [28, 1296, 898, 928, 2130],
 212: [49932],
 213: [4370, 4874, 11, 4865, 3246],
 214: [28],
 215: [926, 1204, 1947, 1946, 60647],
 216: [6333, 1997, 838],
 217: [7],
 218: [1148, 28, 800, 1357, 162],
 219: [356, 539, 1947, 2941],
 220: [590, 1379, 3494],
 221: [2692, 8880],
 222: [858, 318, 4973],
 223: [185, 292, 380, 338, 325],
 224: [762, 140],
 225: [648, 164, 1422, 1459, 1711],
 226: [2396, 3740, 6947, 337],
 227: [3081, 3742, 4902, 1900, 7317],
 228: [733, 1036, 112],
 229: [1552, 1639, 1569],
 230: [3408, 3555, 3623, 3452, 3580],
 231: [1136, 2858, 318],
 232: [1129, 1275],
 234: [608, 1732, 7361, 4546, 7034],
 235: [592, 457, 4963, 1610],
 236: [535],
 237: [1148, 2396, 1188, 1449],
 238: [2396],
 239: [1097, 1240, 1291, 2716],
 241: [4995, 4161, 4226, 4848, 7293],
 242: [719, 832, 65, 140],
 243: [3175],
 244: [150, 1641, 2355, 1186, 2349],
 245: [3147, 1827, 5959],
 246: [527, 50, 318, 8914],
 247: [349, 141, 2, 293, 442],
 248: [2004, 327, 5782, 3262, 4881],
 249: [2713],
 250: [333],
 251: [1466],
 252: [3061, 1269],
 253: [597],
 254: [1748, 6502, 1921],
 255: [455, 531],
 256: [2501],
 257: [589, 1304, 2278],
 258: [494, 1586, 866, 910],
 259: [1, 6378, 8528, 1689],
 261: [1247, 1527, 2021, 4361],
 262: [475, 1218, 7844, 6676],
 263: [2028, 6, 1307, 1393, 3147],
 265: [368, 1385, 2722, 1667],
 266: [356, 1263, 2734, 3160, 1179],
 268: [653, 191],
 269: [1356, 1367, 745],
 271: [1334, 2287],
 272: [3783],
 273: [4306, 1265],
 274: [2136, 1014, 1018, 1948],
 275: [4011, 2067, 233],
 277: [377, 589, 780],
 278: [290, 2237, 2610],
 279: [4993, 2761, 3475],
 280: [2762],
 282: [1358, 1399],
 285: [1517, 223, 2282, 574],
 286: [356, 1127, 2407],
 287: [50, 225, 553],
 288: [260, 1196, 1084],
 289: [1302, 48783],
 290: [377, 480, 733, 6, 2916],
 291: [3996, 1931, 3196, 3735],
 293: [47],
 294: [778, 1036],
 295: [249, 265, 7419, 6305, 7716],
 296: [3565, 4054, 6549],
 297: [1425, 1449, 1464, 1542, 1482],
 298: [541, 1179],
 300: [1228, 2059, 516, 2297, 81],
 301: [1258, 1197, 1500, 2700, 1784],
 302: [3996, 4005],
 304: [1641],
 305: [543, 748],
 306: [1079, 3039, 2174, 2352, 1968],
 308: [355, 586, 552, 531, 262],
 310: [3618],
 311: [377, 589, 350],
 312: [440, 1, 1230, 899, 898],
 313: [608, 926, 318, 1694],
 314: [899, 2918, 2019, 3629],
 315: [256, 14, 490],
 316: [886, 1466, 801, 866, 999],
 317: [741, 1923, 1224],
 318: [2690, 3512, 2390, 4642],
 319: [1590],
 320: [2329, 38038, 46578, 2324, 6016],
 321: [377, 532, 70, 328, 62],
 322: [3911, 4019],
 323: [6218, 965, 55052],
 325: [1617, 48516, 31162],
 326: [469, 83],
 327: [1580, 1485, 1479, 781],
 328: [1210, 1270, 2985],
 329: [1461],
 330: [593, 33166, 34162, 27831, 35836],
 331: [4878, 7317],
 332: [333, 555],
 333: [110, 232, 300, 2563],
 334: [1918],
 335: [3967],
 336: [3686],
 337: [912, 1094, 1079],
 338: [260, 1],
 339: [454],
 340: [515],
 341: [58, 541, 1206, 29, 529],
 342: [40815, 318, 49278, 48783, 26606],
 343: [1127],
 344: [1280, 1376],
 345: [1917, 168, 2822],
 346: [2841, 3081, 2714, 2806],
 347: [2100],
 348: [4022, 6879, 64839],
 350: [955, 947],
 351: [101, 6440, 947, 3097, 2318],
 352: [708],
 353: [1732, 3020, 1175],
 354: [8640, 48774, 8645, 52042, 55274],
 355: [588, 161],
 357: [3082, 2687, 2718],
 358: [1653, 3994, 2232, 6934],
 360: [1042, 1003, 55],
 361: [2303],
 362: [1148, 541, 4973, 5618],
 363: [2571, 44665, 6016, 44199],
 364: [266, 111, 454],
 365: [345, 372, 144],
 366: [413, 2423],
 367: [2391, 2321, 1042, 3129],
 368: [7373, 187],
 369: [223, 175],
 370: [1113, 986, 4424, 137],
 371: [1, 593, 1207, 1197],
 372: [47, 2028, 2329],
 373: [364, 1270, 2716, 49132],
 375: [180, 1278, 1078, 3035, 2937],
 376: [1748, 5445, 924, 1274],
 377: [924, 1203, 2062],
 378: [457, 1234, 1036],
 379: [377, 161, 3147, 318],
 381: [230, 455, 86, 575, 271],
 382: [364, 457],
 383: [232, 3328, 39183, 6669, 7023],
 384: [539, 586, 350],
 385: [613, 728],
 386: [4447, 5015, 4973, 5013, 4994],
 387: [2355, 2694],
 388: [2232, 3114, 5218, 2718, 5221],
 389: [4306, 1282],
 390: [1148, 1089, 1222, 4235],
 391: [539, 587, 357, 551],
 392: [736, 39, 778, 800, 474],
 393: [1407],
 394: [2762, 3176, 2987],
 395: [165, 1573, 1608],
 396: [3623, 4447, 4718, 4979],
 397: [40583, 8951, 31410],
 398: [1210, 1246, 904, 1291, 953],
 399: [748, 18],
 400: [480, 2395, 1500, 1682, 2542],
 403: [2028, 2918, 8784],
 405: [886, 996, 1466],
 406: [736],
 407: [4995, 1037, 2393, 2746],
 408: [33794],
 409: [78, 243],
 410: [380, 240, 1275, 168, 1008],
 411: [1580, 1399],
 412: [1210, 1527, 1580],
 413: [902, 1968],
 414: [1955, 3186, 2087],
 415: [1, 32, 52],
 416: [586, 39, 587],
 417: [926, 1104, 4014, 922, 1201],
 418: [267, 417, 144, 233],
 420: [299, 475, 508, 35, 159],
 421: [34, 367],
 422: [1041, 1183, 1266],
 424: [3793, 3811, 3844, 3819],
 425: [288, 296],
 427: [1136, 2959, 8207],
 428: [2802, 2122, 2753, 1332],
 429: [288, 1047, 350],
 430: [110, 3623, 2329, 2858, 1233],
 431: [6936, 5444, 6889],
 432: [362, 616, 7],
 433: [539, 150, 1617, 164, 1179],
 434: [2294, 1025, 3034],
 435: [2997, 3000, 8910, 48043],
 436: [608, 223],
 437: [1210, 920, 1200, 1449],
 438: [3408, 208],
 439: [3699, 3504, 4009, 5095],
 440: [56174, 45081, 53000],
 441: [173],
 443: [1094, 1036, 1370, 1625],
 444: [593, 954, 1266, 4321, 1250],
 445: [858, 1, 1221, 2023, 4262],
 446: [370, 466, 180, 471],
 447: [2054, 3174],
 448: [2712, 2688, 2333],
 449: [1097, 1387],
 451: [6880, 8340, 27706, 7482],
 452: [3948],
 453: [292, 329, 420, 588, 590],
 454: [141, 515, 265, 497],
 455: [858, 1061],
 456: [260],
 459: [59725, 4916, 59985, 61073],
 460: [356, 480, 589],
 461: [141, 6],
 462: [58, 1385, 1393],
 463: [33493, 6979],
 464: [4062, 490, 4007, 4041],
 465: [6001, 6867],
 466: [260, 1196, 5903],
 467: [5219, 8861, 1610],
 468: [247],
 469: [59315, 59784, 31437, 30803, 56171],
 470: [1611, 1884],
 471: [5, 31, 3, 237],
 472: [377, 527, 238],
 473: [1183, 36, 653, 156],
 474: [32, 1584, 2628, 1274],
 475: [2013, 2841, 2670],
 476: [5890, 27416],
 479: [4020, 3720, 5329],
 480: [1266, 104, 216],
 481: [6662, 4102, 4438],
 482: [60040, 60072],
 483: [477, 508, 5, 257, 60],
 484: [785, 1459],
 485: [1673, 190],
 486: [8376, 8966, 8622],
 487: [101, 1136, 1673, 3504],
 488: [376],
 489: [1597, 1608, 1667],
 490: [2000, 3101, 2716, 1968, 2739],
 491: [1270, 1307, 8947],
 492: [266, 708, 318],
 494: [606, 805, 450, 482, 188],
 495: [457, 237],
 497: [3476, 3328, 3317],
 498: [3070, 4467],
 499: [1276, 541],
 500: [1344, 1278, 2066],
 501: [2115, 1010, 2035, 2236],
 502: [3114, 3793, 3798],
 503: [2025],
 504: [1356, 36, 368, 529],
 505: [786],
 506: [1302, 1320, 1370, 506],
 507: [34, 608, 1792, 1784],
 508: [589, 1240, 3275, 3836],
 509: [59315, 54259, 58998, 60293],
 510: [539, 246, 261, 553],
 511: [593, 31, 163, 62, 105],
 512: [235, 1358, 1643, 2692],
 513: [2725, 2692],
 516: [4370, 2311, 53123, 58306],
 517: [95],
 518: [110, 1293, 3095],
 521: [2762, 1265, 1704, 2858],
 522: [50],
 523: [535, 1089, 1220],
 524: [8784],
 525: [410, 32],
 526: [647, 999],
 527: [589, 1527, 1265, 529],
 529: [1073, 551],
 530: [1, 32, 6, 16],
 531: [454],
 532: [47, 1036, 1704, 2022, 5272],
 533: [150, 1097, 57640, 63082],
 534: [3949, 1755, 4239],
 535: [7091, 7327, 8239, 26151, 6981],
 536: [7, 800, 832],
 537: [85, 1061, 613, 40, 82],
 539: [171, 509, 95, 272],
 541: [2320],
 542: [3551],
 543: [57368, 2077],
 544: [778, 2858, 7147],
 545: [5349, 8360],
 546: [58998, 47640, 26865, 59336],
 547: [260, 7, 1036, 79, 100],
 548: [2918, 4896, 1461, 2423, 2795],
 549: [306, 307, 527, 36],
 550: [5816, 3068, 45, 5992],
 551: [2762],
 552: [1732, 4027, 7361, 968, 2692],
 553: [216],
 554: [7745, 7748],
 555: [2336, 7123, 45517],
 556: [592, 312],
 557: [1518],
 558: [56367, 34072, 56885, 58299],
 559: [902, 6063],
 560: [2618, 2366, 2459, 1542],
 561: [2115, 3527, 7387],
 562: [376, 471, 218, 381, 280],
 563: [1120],
 564: [3264, 3751, 4361, 653],
 565: [1246, 920, 1219, 1304, 1374],
 566: [2303, 1635, 268, 2318, 6818],
 567: [376, 5, 207],
 568: [79],
 569: [223],
 570: [1, 1136, 1961, 1259],
 573: [5502, 2959, 5218],
 574: [376, 780],
 575: [800, 836, 838, 64, 1042],
 576: [2997, 1912],
 577: [2497],
 578: [208, 464],
 579: [5502, 5349, 5378, 5459],
 580: [1, 5349, 6874, 48322, 6580],
 581: [481, 343],
 582: [2396, 2391, 2359],
 583: [6874, 7438, 922, 8784, 5169],
 584: [2, 548, 227],
 586: [1136, 3067, 3424, 3072],
 587: [47, 2571, 48394],
 588: [52, 535],
 589: [1183, 1265],
 590: [1672, 2739, 3113],
 591: [520, 70, 3208, 3988],
 592: [4226, 2657, 7318, 2324],
 593: [509, 357, 497],
 594: [1544, 1515, 1479, 1422],
 595: [2628, 2997, 3052, 2567, 2828],
 596: [26082, 5525, 25868],
 597: [307, 1396, 2712, 3969],
 599: [903, 904, 1086, 3176],
 601: [161, 1376, 1566],
 602: [3365],
 603: [30749, 3185],
 604: [785, 63],
 605: [1356, 593, 1357],
 606: [370, 377, 2804, 2706],
 607: [1221, 1617, 1291, 1213],
 608: [44195, 48738],
 609: [539, 586, 357],
 610: [1883, 2352, 2384, 3072],
 612: [260, 104, 788, 653],
 613: [1, 1197, 1848, 2150, 2078],
 614: [1954, 2947, 2948, 1374, 2951],
 616: [832, 2599, 5266, 1845, 6932],
 617: [1517],
 618: [2490, 3147, 639],
 619: [21, 349, 1220, 1610],
 620: [3948, 3790],
 621: [8807],
 622: [1391, 1653, 4011, 58559, 60514],
 623: [260, 58, 1425],
 624: [260, 1210, 1198, 2028, 1242],
 625: [480, 2000, 2058, 2406],
 627: [780, 5010, 5445],
 628: [380, 296, 198],
 629: [28, 581],
 630: [832],
 631: [500, 1704, 86, 2240],
 632: [5445, 866, 933],
 633: [4995, 1748, 1961, 7147, 4262],
 634: [919, 314],
 635: [2028, 2762, 1923, 1185, 2144],
 637: [1210],
 638: [838, 803, 375],
 639: [364, 2571, 2762, 8360, 4019],
 640: [1221, 50, 2329, 7361, 1201],
 641: [802, 1036],
 642: [3863, 4002, 4007, 4041],
 643: [1299, 1034, 3038],
 644: [1552, 1320, 1608, 3114, 2336],
 645: [780, 163, 368],
 646: [509],
 648: [367, 728, 1885, 665],
 649: [1923, 2117, 3210],
 650: [593, 170, 1092, 1994, 3087],
 651: [1094, 1278, 1953, 3037],
 652: [919, 1028, 1947, 1022],
 654: [786, 832],
 655: [586, 253, 288, 105],
 656: [648, 780, 62],
 657: [4326, 3198, 46578, 994],
 658: [527, 4306, 8360],
 659: [3176, 1625],
 660: [53894, 44204],
 662: [926, 924, 2971],
 663: [356, 2005, 3253, 2706],
 665: [306, 7361, 8917, 5291],
 666: [1253, 2644, 8983],
 667: [1210, 3408, 1259],
 668: [7034],
 669: [466, 780],
 670: [74, 609],
 671: [1387, 2973, 2731, 2971, 1161],
 674: [1037, 2038, 4275],
 675: [110, 260, 457],
 676: [539, 587, 597, 276],
 677: [653],
 678: [140],
 679: [532, 1220, 1263],
 680: [3753, 3512],
 681: [70, 3, 3963],
 683: [6887],
 684: [4878, 5673, 3949],
 685: [26],
 686: [1275],
 688: [2294, 6953, 59784],
 689: [364, 377, 47],
 691: [376, 2881, 2409, 1379],
 693: [733],
 694: [1252, 913, 1284, 2987],
 695: [410, 1569],
 696: [2987, 2806],
 697: [1203, 4876],
 698: [2140, 4978, 3545, 7045, 4719],
 699: [2021, 54259],
 701: [737],
 702: [1198, 50, 1885],
 703: [585, 2794, 1461],
 704: [1247, 2683, 5481, 5377, 5444],
 705: [489, 1911],
 706: [66, 74, 12],
 707: [2882],
 708: [1097, 1580, 1270, 2527, 2554],
 709: [1304, 3578, 2762, 3360],
 710: [1196, 2443, 4116],
 711: [356, 110, 780, 1210, 2571],
 712: [194, 1104, 46],
 714: [1302, 1242, 5418],
 715: [223, 293],
 716: [1230],
 718: [1036, 1997, 4126],
 720: [62],
 721: [356, 597, 457, 1035, 491],
 723: [4963, 39183, 46578],
 724: [778, 1041, 800],
 725: [541, 1235, 1240, 1136, 1275],
 726: [1219, 1387, 1278],
 727: [292, 539, 587, 597],
 728: [3793, 5349, 5445, 53996],
 729: [185, 292, 316, 329, 317],
 730: [329, 434],
 731: [2143, 1353, 2316],
 732: [1207, 5446],
 733: [3147, 5418, 33158],
 734: [266, 852, 1042, 1006],
 736: [2232, 3301, 3948, 3617, 3967],
 737: [101, 29, 745, 663],
 738: [1544, 1003],
 740: [858, 1097, 1193, 2186, 296],
 741: [538, 16, 3175],
 742: [7438, 48774, 55267, 40581],
 743: [551, 273],
 744: [25, 1221, 1230, 1942, 2927],
 746: [2359, 2318],
 748: [538, 279, 280],
 749: [1367],
 750: [3254, 2918, 5418, 8581],
 751: [1, 47],
 752: [110, 47, 50],
 753: [3994, 1376],
 754: [54286, 59315, 55765],
 755: [493],
 756: [1416],
 757: [329, 151, 344, 1639],
 758: [648, 236, 11, 252, 282],
 759: [588, 1],
 762: [745, 82],
 763: [46, 534],
 765: [2951],
 766: [2302, 3450],
 767: [31923, 32031, 32116, 32139, 26865],
 768: [2858, 4878, 8810, 3949, 34319],
 769: [1150, 156, 373, 229, 1161],
 770: [837, 765, 1474],
 771: [736, 1049, 4321],
 772: [1210, 7991],
 773: [1225, 1810, 1476],
 774: [356, 1270, 2918, 33794, 45928],
 775: [40, 691, 458],
 776: [589, 1961],
 777: [3751, 2336],
 780: [1276, 1219, 1247, 1304, 3062],
 781: [562, 1580],
 782: [1213, 1884],
 783: [4992, 5829],
 784: [2791, 3147, 3948],
 785: [839, 804],
 786: [589, 4993],
 787: [919, 2686, 2436, 2774],
 788: [5219, 4148],
 790: [838, 1290, 986],
 791: [3734, 3789],
 792: [141, 230, 593, 457, 265],
 793: [4995, 2858, 3793, 2607],
 794: [494],
 795: [780],
 796: [1544, 1500, 613, 1633, 1317],
 797: [1517, 1171],
 798: [63113, 63131],
 799: [539, 50, 350],
 801: [1207, 3481],
 802: [477, 516],
 803: [4027, 3952, 4022, 3993, 4021],
 804: [480, 4023],
 805: [5349, 6294, 8665, 5418],
 806: [539, 587, 22],
 807: [145, 327, 183, 701],
 808: [4015, 1569],
 809: [4446, 1298, 1921, 2692, 5995],
 810: [234],
 811: [1356, 1270],
 812: [1113],
 813: [110, 1049, 1210],
 814: [509, 431],
 815: [2011, 2012, 7101, 7036],
 816: [31, 48],
 817: [2950, 218, 406, 2415],
 818: [4321, 1081, 3545],
 819: [6188, 6214],
 820: [5159, 53125],
 821: [4069, 3916],
 822: [608],
 823: [370, 527, 1396],
 824: [928, 302],
 825: [356, 858, 1221, 4975],
 826: [628],
 827: [780, 145, 95, 494],
 828: [293, 204],
 829: [849, 1500, 1438, 135, 92],
 830: [2064, 581],
 831: [1801, 276, 289, 202],
 832: [1580],
 833: [111, 1193, 2762, 300],
 834: [1225, 5015, 49272, 7137],
 835: [206, 268],
 836: [25, 1419, 731, 1446],
 837: [41571, 46578, 58154, 36276],
 838: [26242],
 841: [1320, 1831, 2322],
 842: [356, 364, 480, 367],
 843: [1104, 971],
 844: [349, 4270, 3256, 3197],
 846: [780],
 847: [1552, 2490, 2023, 89],
 848: [185, 306, 307, 308, 477],
 849: [5122, 5060, 5120, 5117, 5097],
 851: [1207, 745, 26578],
 852: [500, 527],
 853: [78, 781, 1167],
 854: [1407],
 855: [34, 1358, 69],
 856: [1573, 368, 1215],
 857: [260, 1210, 1378],
 859: [778, 1206, 2706],
 860: [1680, 6942],
 861: [2858, 2502, 2951],
 862: [508],
 863: [231, 457, 2335, 1608, 1047],
 865: [6539, 1580, 3481, 4973],
 866: [1258, 1240, 1245, 1262, 1639],
 867: [4406, 6016],
 868: [1094, 50, 300, 1411],
 869: [2843, 7941],
 870: [30],
 871: [193],
 872: [1256, 2918, 1238, 3060],
 873: [780, 2628, 24],
 874: [8533, 48516, 40870],
 875: [412, 46, 650],
 876: [15],
 878: [1276, 1172],
 879: [1617, 223, 2406, 2858, 3418],
 881: [733, 780, 58, 596],
 882: [317, 500, 19, 296, 203],
 883: [6281],
 884: [1367, 1059, 828, 673],
 885: [307, 515, 1183],
 886: [3994],
 887: [260, 4102, 4091, 4041],
 888: [858, 1221, 1090],
 889: [328, 330],
 890: [4344, 4238, 4448, 3950],
 891: [2617],
 892: [122, 1302, 1257],
 893: [3623, 6947],
 894: [5952, 7153, 2571, 4993, 58559],
 895: [368],
 896: [1274, 1464],
 897: [552],
 898: [405],
 899: [228],
 900: [1060, 1466, 1354],
 901: [457, 1240, 2858, 1201, 3362],
 902: [2115, 48394, 48738, 47629],
 903: [879, 86, 1416],
 904: [923, 2294, 1132],
 905: [1777, 3039, 339],
 906: [720, 1095, 663],
 907: [348, 22, 246, 237],
 908: [1445],
 909: [593, 1136, 6333, 6936, 8970],
 910: [1246, 527, 4034, 3396],
 911: [3114, 3117],
 912: [3147, 5218, 5349, 5288, 5267],
 913: [1304, 318, 3363, 6787],
 914: [1390, 1419],
 915: [5617, 5446, 5791],
 916: [296],
 917: [1183],
 918: [886, 1479, 704, 605],
 919: [170, 173, 1687],
 920: [1198, 1036, 1220, 1291, 2641],

In [31]:
from typing import List, Dict
from sklearn.metrics import mean_squared_error

class MetricCalculator:
    def calc_rmse(self, true_rating: List[float], pred_rating: List[float]) -> float:
        return np.sqrt(mean_squared_error(true_rating, pred_rating))

    def calc_recall_at_k(self, 
                         true_user2items: Dict[int, List[int]],
                         pred_user2items: Dict[int, List[int]],
                         k: int)-> float:
        scores = []
        for user_id in true_user2items.keys():
            r_at_k = self._recall_at_k(true_user2items[user_id], pred_user2items[user_id], k)
            scores.append(r_at_k)
        return np.mean(scores)

    def _recall_at_k(self, true_items: List[int], pred_items: List[int], k: int) -> float:
        if len(true_items) == 0 or k == 0:
            return 0.0
        r_at_k = (len(set(true_items) & set(pred_items[:k]))) / len(true_items)
        return r_at_k
    
    def calc_precision_at_k(self,
                            true_user2items: Dict[int, List[int]],
                            pred_user2items: Dict[int, List[int]],
                            k: int
                            ) -> float:
        scores = []
        for user_id in true_user2items.keys():
            p_at_k = self._precision_at_k(true_user2items[user_id], pred_user2items[user_id], k)
            scores.append(p_at_k)
        return np.mean(scores)
    
    def _precision_at_k(self,
                        true_items: List[int],
                        pred_items: List[int],
                        k: int
                        ) -> float:
        if k == 0:
            return 0.0
        p_at_k = (len(set(true_items) & set(pred_items[:k]))) / k
        return p_at_k

In [ ]:
import sys

sys.path.append('/app/chapter5/')

from util.data_loader import DataLoader
from util.metric_calculator import MetricCalculator
data_loader = DataLoader(num_users=1000, num_test_items=5, data_path='../data/ml-10M100K/')

movielens = data_loader.load()
recommender = XXXRecommender()
recommend_result = recommender.recommend(movielens)

metric_calculator = MetricCalculator()
metrics = metric_calculator.calc(movielens.test.rating.tolist(),
                                 recommend_result.rating.tolist(),
                                 movielens.test_user2items, recommend_result.user2items, k=10)
print(metrics)

In [ ]:
import pandas as pd
import os
from util.models import Dataset

class DataLoader:
    def __init__(self, num_users: int = 1000, num_test_items: int = 5,
                 data_path: str = '../data/ml-10M100K'):
        self.num_users = num_users
        self.num_test_items = num_test_items
        self.data_path = data_path

    def load(self) -> Dataset:
        ratings, movie_content = self._load()

        movielens_train, movielens_test = self._split_data(ratings)
        movielens_test_user2items = (
            movielens_test[movielens_test.rating >= 4].groupby(
                'user_id').agg({'movie_id': list})['movie_id'].to_dict()
            )
        return Dataset(movielens_train, movielens_test, movielens_test_user2items, movie_content)
    
    def _split_data(self, movielens: pd.DataFrame) -> (pd.DataFrame, pd.DataFrame):
        movielens['rating_order'] = movielens.groupby('user_id')['timestamp'].rank(ascending=False, method='first')
        movielens_train = movielens[movielens['rating_order'] > self.num_test_items]
        movielens_test = movielens[movielens['rating_order'] <= self.num_test_items]
        return movielens_train, movielens_test

    def _load(self) -> (pd.DataFrame, pd.DataFrame):
        m_cols = ['movie_id', 'title', 'genre']
        movies = pd.read_csv(
            os.path.join(self.data_path, 'movies.dat'), names=m_cols, sep='::', encoding='latin-1', engine='python'
        )
        user_tagged_movies['tag'] = user_tagged_movies['tag'].str.lower()
        movie_tags = user_tagged_movies.groupby('movie_id').agg({'tag': list})

        movies = movies.merge(movie_tags, on='movie_id', how='left')

        r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
        ratings = pd.read_csv(os.path.join(self.data_path, 'ratings.dat'), names=r_cols, sep='::', engine='python')

        valid_user_ids = sorted(ratings.user_id.unique())[: self.num_users]
        ratings = ratings[ratings.user_id <= max(valid_user_ids)]

        movielens_ratings = ratings.merge(movies, on='movie_id')

        return movielens_ratings, movies

In [40]:
import dataclasses
import pandas as pd
from typing import Dict, List

@dataclasses.dataclass(frozen=True)
class Dataset:
    train: pd.DataFrame
    test: pd.DataFrame
    test_user2items: Dict[int, List[int]]
    item_content: pd.DataFrame

In [42]:
from abc import abstractmethod, ABC
from util.data_loader import DataLoader
from util.metric_calculator import MetricCalculator
from util.models import Dataset, RecommendResult

class BaseRecommender(ABC):
    @abstractmethod
    def recommend(self, dataset: Dataset, **kwargs) -> RecommendResult:
        pass

    def run_sample(self) -> None:
        movielens = DataLoader(num_users=1000, num_test_items=5, data_path='../data/ml-10M100K/').load()
        recommend_result = self.recommend(movielens)
        metrics = MetricCalculator().calc(
            movielens.test.rating.tolist(),
            recommend_result.rating.tolist(),
            movielens.test_user2items,
            recommend_result.user2items,
            k=10
        )
        print(metrics)

In [43]:
@dataclasses.dataclass(frozen=True)
class RecommendResult:
    rating: pd.DataFrame
    user2items: Dict[int, List[int]]

In [ ]:
import numpy as np
from sklearn.metrics import mean_squared_error
from util.models import Metrics
from typing import Dict, List

class MetricCalculator:
    def clac(
            self,
            true_rating: List[float],
            pred_rating: List[float],
            true_user2items: Dict[int, List[int]],
            pred_user2items: Dict[int, List[int]],
            k: int
    ) -> Metrics:
        rmse = self._calcrmse(true_rating, pred_rating)
        precision_at_k = self._calc_precision_at_k(true_user2items, pred_user2items, k)
        recall_at_k = self._calc_recall_at_k(true_user2items, pred_user2items, k)
        return Metrics(rmse, precision_at_k, recall_at_k)
    
    def _precision_at_k(self, true_items: List[int], pred_items: List[int], k: int) -> float:
        if k == 0:
            return 0.0
        p_at_k = (len(set(true_items) & set(pred_items[:k]))) / k
        return p_at_k
    
    def _recall_at_k(self, true_items: List[int], pred_items: List[int], k: int) -> float:
        if len(true_items) == 0 or k == 0:
            return 0.0
        
        r_at_k = (len(set(true_items) & set(pred_items[:k]))) / len(true_items)
        return r_at_k
    
    def _calc_rmse(self, true_rating: List[float], pred_rating: List[float]) -> float:
        return np.sqrt(mean_squared_error(true_rating, pred_rating))
    
    def _calc_recall_at_k(
            self, true_user2items: Dict[int, List[int]], pred_user2items: Dict[int, List[int]], k: int
    ) -> float:
        scores = []
        for user_id in true_user2items.keys():
            r_at_k = self._recall_at_k(true_user2items[user_id], pred_user2items[user_id], k)
            scores.append(r_at_k)

        return np.mean(scores)
    
    def _calc_precision_at_k(
            self, true_user2items: Dict[int, List[int]], pred_user2items: Dict[int, List[int]], k: int
    ) -> float:
        scores = []
        for user_id in true_user2items.keys():
            p_at_k = self._precision_at_k(true_user2items[user_id], pred_user2items[user_id], k)
            scores.append(p_at_k)
        return np.mean(scores)